<div class="form">

  <ul class="tab-group">
    <li class="tab" [ngClass]="{'active': isLoginForm}"><p (click)="tabClick($event, '#login')">Войти</p></li>
    <li class="tab" [ngClass]="{'active': !isLoginForm}"><p  (click)="tabClick($event, '#signup')">Зарегестрироваться</p></li>
  </ul>

  <div class="tab-content">
    <div *ngIf="isLoginForm" id="login">
      <h1>С возвращением!</h1>

      <form action="/" method="post" [formGroup]="loginForm" (ngSubmit)="loginUser()">

        <div class="field-wrap">
          <label>
            Email адрес<span class="req">*</span>
          </label>
          <input type="email" required autocomplete="off" formControlName="email" [ngClass]="loginForm.controls.email.status === 'INVALID' || loginError ? 'inavlid-field' : ''" />
          <span class="error" *ngIf="loginForm.controls.email.status === 'INVALID'">Введите email</span>
        </div>

        <div class="field-wrap">
          <label>
            Пароль<span class="req">*</span>
          </label>
          <input type="password"required autocomplete="off" formControlName="password" [ngClass]="loginForm.controls.password.status === 'INVALID' || loginError ? 'inavlid-field' : ''" />
          <span class="error" *ngIf="loginForm.controls.password.status === 'INVALID' ">Введите пароль</span>
        </div>

        <p class="error" *ngIf="loginError">Неверный логин или пароль*</p>
        <button class="button button-block">Войти</button>

      </form>

    </div>
    <div *ngIf="!isLoginForm" id="signup">
      <h1>Создать новый профиль</h1>

      <form action="/" method="post" [formGroup]="registerForm" (ngSubmit)="registerUser()">


        <div class="field-wrap">
          <label>
            Ваш никнейм<span class="req">*</span>
          </label>
          <input type="text" required autocomplete="off" formControlName="name" [ngClass]="registerForm.controls.name.status === 'INVALID' ? 'inavlid-field' : ''" />
          <span class="error" *ngIf="registerForm.controls.name.status === 'INVALID'">Введите ваше имя</span>
        </div>


        <div class="field-wrap">
          <label>
            Email адрес<span class="req">*</span>
          </label>
          <input type="email"required autocomplete="off" formControlName="email" [ngClass]="registerForm.controls.email.status === 'INVALID' || loginError ? 'inavlid-field' : ''" />
          <span class="error" *ngIf="registerForm.controls.email.status === 'INVALID'">Введите ваш email</span>
        </div>

        <div class="field-wrap">
          <label>
            Пароль<span class="req">*</span>
          </label>
          <input type="password"required autocomplete="off" formControlName="password" [ngClass]="registerForm.controls.password.status === 'INVALID'  ? 'inavlid-field' : ''" />
          <span class="error" *ngIf="registerForm.controls.password.status === 'INVALID' ">Введите пароль</span>
        </div>

        <p class="error" *ngIf="loginError">Пользователь с данным email уже существует*</p>
        <button type="submit" class="button button-block">Создать Ваш профиль</button>
      </form>

    </div>


  </div><!-- tab-content -->

</div> <!-- /form -->
