@import'./node_modules/reset-css/sass/reset';
@import'./fonts.scss';
@import'./slider.scss';
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

$main-font-family: 'Open Sans';
$font-fira-sans: 'Fira Sans';
$font-raleway: 'Raleway';
$a-tags: 'a:hover, a:active';

@for $index from 1 through 5 {
    .size-#{$index}{
        width: 50px*$index !important;
        height: 50px*$index !important;
    }
}
@mixin border-radius($radius){
    border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
}

.header {
    background: url('./images/bacground_header.png') no-repeat center center;
    height: 900px;
    position: relative;
    .header-logo {
        font-family: $font-fira-sans;
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 148%;
        /* identical to box height, or 142px */
        letter-spacing: 0.05em;
        color: #FFF73D;
    }
    .header-tel {
        font-family: $font-fira-sans;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 43px;
        color: #FFFFFF;
    }
}

#nav-icon {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #fff;
        border-radius: 3px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
}

#nav-icon span:nth-child(1) {
    top: 0;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
    top: 12px;
}

#nav-icon span:nth-child(4) {
    top: 24px;
}

#nav-icon.open span:nth-child(1) {
    top: 12px;
    width: 0;
    left: 50%;
}

#nav-icon.open span:nth-child(2) {
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    top: 6px;
    width: 0;
    left: 50%;
}

.section-decription {
    font-family: $font-raleway !important;
    color: #fff;
    width: 645px;
    margin: auto;
    text-transform: uppercase;
}

.welcom-title {
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    span:before {
        content:'';
        display: inline-block;
        margin-right: 20px;
        vertical-align: middle;
        width: 85px;
        border-bottom: 2px solid #fff;
    }
    span:after {
        content:'';
        display: inline-block;
        margin-left: 20px;
        vertical-align: middle;
        width: 85px;
        border-bottom: 2px solid #fff;
    }
}

.welcom-service {
    padding-bottom: 25px;
    border-bottom: 2px solid #fff;
    span {
        font-style: normal;
        font-weight: 600;
        font-size: 82px;
        line-height: 148%;
        letter-spacing: 0.05em;
    }
}

.welcom-city {
    margin: 25px 0 45px 0;
    span:before {
        content:'';
        display: inline-block;
        margin-right: 30px;
        vertical-align: text-bottom;
        width: 9px;
        height: 9px;
        border: 9px solid rgba(255, 255, 255, 0.75);
        border-radius: 50%;
    }
    span:after {
        content:'';
        display: inline-block;
        margin-left: 30px;
        vertical-align: text-bottom;
        width: 9px;
        height: 9px;
        border: 9px solid rgba(255, 255, 255, 0.75);
        border-radius: 50%;
    }
}

.description-text-wrap {
    padding: 0 55px;
    margin-bottom: 55px;
    .description-text {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 129%;
        text-align: center;
        letter-spacing: 0.05em;
        color: rgba(255, 255, 255, 0.67);
    }
}

.description-button {
    text-transform: none;
    border: 2px solid #FFF73D;
    box-sizing: border-box;
    width: 240px;
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
    span {
        font-weight: 300;
        font-size: 36px;
        line-height: 148%;
        letter-spacing: 0.05em;
    }
}

.header-bottom {
    position: absolute;
    bottom: 0;
    background: rgba(229, 229, 229, 0.08);
    border: 1px solid rgba(125, 125, 125, 0.65);
    box-sizing: border-box;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 148%;
    padding: 20px 0;
}

.service-type {
    min-height: 420px;
    background: #12171D;
    padding: 50px 0 0 0;
}

.mc-wrap {
    position: relative;
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: $font-raleway;
    color: #fff;
    text-transform: uppercase;
}

.mc-item {
    border: 1px solid #353535;
    border-radius: 2px;
}


.mc-item-wrap-after {
    position: absolute;
    content: '';
    height: 9px;
    width: 17px;
    background-image: url(./images/arrow-top.png);
    margin: 21px 96px;
    display: none;
}
.mc-item-wrap {
    margin-left: 30px;
    width: 220px;
    display: inline-block;
    text-align: center;

    ul {
        position: absolute;
        left: 0;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        font-size: 16px;
        background-color: #353535;
        margin-top: 30px;
        padding: 15px 0;
        z-index: 10;
        display: none;
        li {
            display: inline-block;
            margin: 5px 0;

            a {
                padding: 0 10px;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    &:hover {
        background-color: #2a2a2a;
    }
    &.active {
        background-color: #2a2a2a;
        .mc-item {
            text-decoration: underline;
        }
        .mc-toggle {
            color: #fff;
        }
    }
    &:first-child {
        margin-left: 0;
    }
    a {
        color: #fff;
    }

    #{$a-tags} {
        color: #fff;
        text-decoration: underline;
        cursor: pointer;
    }
    span {
        display: block;
        height: 85px;
        width: 130px;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 15px auto 10px;
        &.mc-item-1 {
            background-image: url(./images/service-item-1.png);
        }
        &.mc-item-2 {
            background-image: url(./images/service-item-2.png);
        }
        &.mc-item-3 {
            background-image: url(./images/service-item-3.png);
        }
        &.mc-item-4{
            background-image: url(./images/service-item-4.png);
        }
        &.mc-item-5 {
            background-image: url(./images/service-item-5.png);
        }
        &.mc-item-6 {
            background-image: url(./images/service-item-6.png);
        }
    }
    h4 {
        font-size: 16px;
        padding: 20px 0;
    }
}

.mc-toggle {
    display: flex;
    color: #d12f21;
    justify-content: center;
    align-items: center;
    background-color: #353535;
    height: 20px;
    font-size: 16px;
    i {

        border: none;
    }
}

.we-pro-section {
    width: 100%;
}

.we-pro {
    display: flex;
    flex-direction: column;
    padding: 35px 0 40px 0;
    align-items: center;
    background: #F2EEEE;
}

.we-pro-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 148%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    &:before {
        content: '';
        height: 53px;
        width: 53px;
        margin-right: 20px;
        display: inline-block;
        background: url(./images/pro-title.svg) no-repeat center center;
        vertical-align: text-top;
    }
    &:after {
        content: '';
        height: 53px;
        width: 53px;
        margin-left: 20px;
        display: inline-block;
        background: url(./images/pro-title.svg) no-repeat center center;
        vertical-align: text-top;
        transform: rotate(180deg);
    }
}

.we-pro-description {
    max-width: 1050px;
    font-size: 24px;
    line-height: 148%;
    text-align: center;
}

.goals {
    padding: 100px 5% 10px 5%;
    background: rgba(29, 39, 53, 0.8);
    color: #fff;
}

.goal-item-wrap {
    display: flex;
    justify-content: center;
    margin: 0 45px 95px 45px;
    .card {
        background: none;
        border: none;
        img {
            border-top: 9px solid #FFF73D;
        }
        .card-text {
            margin-top: 30px;
            font-family: $font-raleway;
            font-size: 18px;
            line-height: 148%;
            text-align: center;
            letter-spacing: 0.05em;
        }
    }
}

.card-img-top {
    height: 320px;
}

.send-order {
    font-family: $font-raleway;
    height: 720px;
}

.send-order-image {
    min-height: 720px;
    width: 60%;
    background: url('./images/6.png') no-repeat center center;
    background-size: cover;
}

.form {
    width: 40%;
    background: #FFF72C;
    display: flex;
    align-items: center;
    justify-content: center;
    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 60%;
        .form-group {
            width: 100%;
        }
    }
}

.form-control.contact-input {
    border: 2px solid #9C982A;
    background: none;
    color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 2px 0 0 #9C982A;
    height: 47px;
    margin-bottom: 30px;
    &:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.75);
    }
}

.form-group {
    .order-description {
        font-size: 16px;
        line-height: 19px;
    }
    .order-title {
        font-weight: 800;
        font-size: 30px;
        line-height: 35px;
        color: #000000;
    }
}

.btn-contact {
    width: 230px;
    height: 61px;
    font-size: 18px;
    line-height: 148%;
    letter-spacing: 0.05em;
    border-bottom: 4px solid #DBD5D5;
}

.clients {
    font-family: $font-raleway;
    width: 100%;
    height: 750px;
    background: rgba(29, 39, 53, 0.8);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.title-wrap {
    margin-bottom: 50px;
    border-bottom: 1px solid #FFFFFF;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 148%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0 40px 25px 40px;
}

.text-yellow {
    color: #FFF72C;
}

.partners {
    font-family: $font-raleway;
    width: 100%;
    //height: 420px;
    background: #F2EEEE;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    .section-title {
        padding: 0;
    }
    .title-wrap {
        border: none;
        margin-bottom: 50px;
    }
}

.footer-page {
    height: 350px;
    background: #12171D;
    color: #fff;
    padding: 50px 5%;
}

.footer-social {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 80px;
    width: 100%;
    background: url('./images/logo.svg') no-repeat;
    background-size: contain;
}

.footer-social-description {
    font-weight: 700;
    font-size: 22px;
    line-height: 125.5%;
    color: #666;
    margin-bottom: 20px;
}

.icon {
    display: flex;
    background: #666666;
    width: 42px;
    height: 42px;
    border-radius:50%;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
}

.social-links {
    &-header {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin: 40% auto 0 auto;
        .icon {
            color: #000;
            margin-bottom: 25px;
        }
        #{$a-tags} {
            color: #fff;
            text-decoration: none;
        }
    }
    &-footer {
        width: 100%;
        display: flex;
        justify-content: start;
        .icon {
            margin-right: 15px;
        }
        #{$a-tags} {
            color: #FFF72C;
            text-decoration: none;
        }
    }
}

.block-links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 20px;
    line-height: 148%;
    text-align: center;
    text-decoration-line: underline;
}

.link-with-icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .block-links_link {
        color: #666;
    }
    #{$a-tags} {
        color: #FFF72C;
    }
}

.link-with-icon_icon {
    height: 22px;
    width: 22px;
    background: url(./images/tire.png);
    margin-right: 15px;
    margin-top: 4px;
}

.address-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    .address {
        padding: 10% 0 5% 0;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

#map {
    width: 100%;
    height: 90%;
}

.slider-client {
    width: 100%;
    height: 100%;
}

.partners {
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
    transform: translateX(25%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
    transform: translateX(0);
}

.carousel-item {
    .image-wrap {
        .image {
            position: relative;
            overflow:hidden;
            height: 200px;
            width: 200px;
            img {
                position: absolute;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
                height: 200px;
                width: 200px;
                object-fit:contain;
            }
        }
    }
}

.container {
    .carousel-control-prev {
        left: -110px;
    }
    .carousel-control-next {
        right: -100px;
    }
    .carousel-control-next-icon {
        background-image: url('./images/arrow-1.svg');
    }
    .carousel-control-prev-icon {
        background-image: url('./images/arrow-2.svg');
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
        width: 40px;
        height: 40px;
    }
}

