<app-dashboard-header></app-dashboard-header>
<div class="m-5"></div>
<div class="container">
  <div class="row">
    <div class="tabset-wrap">
      <button class="btn btn-outline-primary make-order" (click)="openOrder(null, 'create')">Cделать заказ</button><ngb-tabset #t="ngbTabset">
      <ngb-tab id="tab-selectbyid1" title="Заказы">
        <ng-template ngbTabContent>
          <form>
            <div class="form-group form-inline mt-3">
              Найти: <input class="form-control ml-2" type="text" [formControl]="filter"/>
            </div>
          </form>

          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Заказ #</th>
              <th scope="col">Марка</th>
              <th scope="col">Клиент</th>
              <th scope="col">Прогресс</th>
              <th scope="col">Стоимость, руб</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders$ | async; index as i">
              <th scope="row">{{order._id}}</th>
              <td>
                <ngb-highlight [result]="order.car" [term]="filter.value"></ngb-highlight>
              </td>
              <td>
                <ngb-highlight [result]="order.email" [term]="filter.value"></ngb-highlight>
              </td>
              <td>
                <ngb-progressbar [showValue]="true" type="success" [value]="toInt(order.progress)"></ngb-progressbar>
              </td>
              <td>
                <ngb-highlight [result]="order.cost || '-//-'" [term]="filter.value"></ngb-highlight>
              </td>
              <td>
                <button class="btn" (click)="openOrder(order, 'edit')"><i class="fa fa-arrow-right"></i></button></td>
            </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
    </div>
  </div>
</div>
