
<header class="header">
  <div class="container-fluid">
    <div class="row pt-3">
      <div class="col-11 col-xl-8">
        <div class="pl-3 header-logo">
          <img src="../../assets/images/logo_main.svg" alt="logo">
        </div>
      </div>
      <div class="d-none d-xl-flex col-xl-3 align-items-center">
        <p class="header-tel">+375 29 319 08 61</p>
      </div>
      <div class="col-1 align-items-center">
        <div id="nav-icon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-12 col-lg-6">
        <div class="section-decription">
          <div class="welcom-wrap d-flex flex-column align-items-center">
            <div class="welcom-title">
              <span>добро пожаловать в профессиональный</span>
            </div>
            <div class="welcom-service">
              <span>авто сервис</span>
            </div>
            <div class="welcom-city">
              <span>в минске</span>
            </div>
          </div>
          <div class="description-text-wrap">
            <p class="description-text">First/on the road - это тот автосервис
              который поможет вам, сделать ваш
              автомобиль не узнаваем
              и самым привлекательным на дороге</p>
          </div>
          <div class="description-buttons d-flex justify-content-around">
            <div class="horizontal">
              <span class="text">О нас</span>
            </div>
            <div class="horizontal">
              <span class="text">Прайс</span>
            </div>
          </div>
        </div>
      </div>
      <div class="d-none d-lg-block col-lg-5"></div>
      <div class="d-none d-lg-block col-lg-1">
        <div class="social-links-header">
          <a href="" class="icon"><i class="fab fa-facebook-f"></i></a>
          <a href="" class="icon"><i class="fab fa-instagram"></i></a>
          <a href="" class="icon"><i class="fab fa-vk"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom container-fluid">
    <div class="row">
      <div class="col-12 col-lg-4 mb-2 mb-lg-0 text-center">г. Минск, ул. Дубовича, 11</div>
      <div class="col-12 col-lg-4 mb-2 mb-lg-0 text-center">+ 375 29 319 08 61</div>
      <div class="col-12 col-lg-4 mb-2 mb-lg-0 text-center">Время работы: ежедневно, 9:00 - 20:00</div>
    </div>
  </div>
</header>

<div id="sideBarMenu" class="sidenav">
  <!--          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
  <a href="#service-type">Услуги</a>
  <a href="#send-order">Оставить заявку</a>
  <a href="#clients">Отзывы</a>
  <a href="" (click)="goLogin()" class="login">Войти</a>
</div>
<div id="service-type" class="service-type">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <ul class="mc-wrap">
          <li class="mc-item-wrap active">
            <div class="mc-item">
              <a href="">
                <span class="mc-item-1"></span>
                <h4>Кузовной ремонт</h4>
              </a>
            </div>
            <div class="mc-toggle">
              <i class="fas fa-chevron-down"></i>
            </div>
            <ul>
              <li><a href="">Стапельные работы</a></li>
              <li><a href="">Жестяные работы</a></li>
              <li><a href="">Арматурные работы</a></li>
              <li><a href="">Покраска втомобиля</a></li>
              <li><a href="">Локальная покраска</a></li>
              <li><a href="">Покраска мотоцикла</a></li>
              <li><a href="">Аброзивная полировка</a></li>
              <li><a href="">Легкая полировка блеск</a></li>
              <li><a href="">Защитная полировка</a></li>
              <li><a href="">Антикоррозийная обработка кузова</a></li>
              <li><a href="">Удаление вмятин без покраски</a></li>
            </ul>
          </li>
          <li class="mc-item-wrap">
            <div class="mc-item">
              <a href="">
                <span class="mc-item-2"></span>
                <h4>Механические работы</h4>
              </a>
            </div>
            <div class="mc-toggle">
              <i class="fas fa-chevron-down"></i>
            </div>
            <ul>
              <li><a href="">Жестяные работы</a></li>
              <li><a href="">Арматурные работы</a></li>
              <li><a href="">Покраска втомобиля</a></li>
              <li><a href="">Легкая полировка блеск</a></li>
              <li><a href="">Защитная полировка</a></li>
              <li><a href="">Антикоррозийная обработка кузова</a></li>
              <li><a href="">Удаление вмятин без покраски</a></li>
            </ul>
          </li>
          <li class="mc-item-wrap">
            <div class="mc-item">
              <a href="">
                <span class="mc-item-3"></span>
                <h4>Экспресс-услуги</h4>
              </a>
            </div>
            <div class="mc-toggle">
              <i class="fas fa-chevron-down"></i>
            </div>
          </li>
          <li class="mc-item-wrap">
            <div class="mc-item">
              <a href="">
                <span class="mc-item-4"></span>
                <h4>Диагностика</h4>
              </a>
            </div>
            <div class="mc-toggle">
              <i class="fas fa-chevron-down"></i>
            </div>
          </li>
          <li class="mc-item-wrap">
            <div class="mc-item">
              <a href="">
                <span class="mc-item-5"></span>
                <h4>Слесарные работы</h4>
              </a>
            </div>
            <div class="mc-toggle">
              <i class="fas fa-chevron-down"></i>
            </div>
          </li>
          <li class="mc-item-wrap">
            <div class="mc-item">
              <a href="">
                <span class="mc-item-6"></span>
                <h4>Ремонт пластика</h4>
              </a>
            </div>
            <div class="mc-toggle">
              <i class="fas fa-chevron-down"></i>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="we-pro-section">
  <div class="we-pro">
    <p class="we-pro-title">Мы - профессионалы высочайшего класса</p>
    <p class="we-pro-description">Мы используем самые качественные материалы и работы осуществляются теми, кто является
      профессионалом высочайшего класса.</p>
  </div>
</div>

<div class="goals">
  <div class="container-fluid">
    <div class="row flex-wrap">
      <div class="col-12 col-lg-6 col-xl-4">
        <div class="goal-item-wrap">
          <div class="card">
            <img class="card-img-top" src="../../assets/images/1.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Нам под силу выполнение такого
                сложного автотехнического процесса, как
                превратить ваш авто из унылого не взрачного
                автомобиля в первый ЛУЧШИЙ авто на дороге</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-4">
        <div class="goal-item-wrap">
          <div class="card">
            <img class="card-img-top" src="../../assets/images/2.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Нам под силу выполнение такого
                сложного автотехнического процесса, как
                превратить ваш авто из унылого не взрачного
                автомобиля в первый ЛУЧШИЙ авто на дороге</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-4">
        <div class="goal-item-wrap">
          <div class="card">
            <img class="card-img-top" src="../../assets/images/4.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Нам под силу выполнение такого
                сложного автотехнического процесса, как
                превратить ваш авто из унылого не взрачного
                автомобиля в первый ЛУЧШИЙ авто на дороге</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-4">
        <div class="goal-item-wrap">
          <div class="card">
            <img class="card-img-top" src="../../assets/images/2.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Нам под силу выполнение такого
                сложного автотехнического процесса, как
                превратить ваш авто из унылого не взрачного
                автомобиля в первый ЛУЧШИЙ авто на дороге</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-4">
        <div class="goal-item-wrap">
          <div class="card">
            <img class="card-img-top" src="../../assets/images/12.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Нам под силу выполнение такого
                сложного автотехнического процесса, как
                превратить ваш авто из унылого не взрачного
                автомобиля в первый ЛУЧШИЙ авто на дороге</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-4">
        <div class="goal-item-wrap">
          <div class="card">
            <img class="card-img-top" src="../../assets/images/1.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Нам под силу выполнение такого
                сложного автотехнического процесса, как
                превратить ваш авто из унылого не взрачного
                автомобиля в первый ЛУЧШИЙ авто на дороге</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="send-order" class="send-order">
  <div class="container-fluid">
    <div class="row">
      <div class="d-none d-lg-block send-order-image"></div>
      <div class="form">
        <form class="contact-form" [formGroup]="orderHome" (ngSubmit)="sendOrder()">
          <div class="form-group">
            <img class="form-logo" src="../../assets/images/logo_form.svg" alt="logo">
          </div>
          <div class="form-group">
            <h3 class="order-title">Оставить заявку</h3>
          </div>
          <div class="form-group">
            <p class="order-description">Оставить заявку и мы перезвоним вам в течение 15 минут.</p>
          </div>
          <div class="form-group">
            <input type="text" class="form-control contact-input" placeholder="Ваше имя*..." formControlName="name">
            <span class="error" *ngIf="orderHome.controls.name.status === 'INVALID' ">Заполните поле</span>
          </div>
          <div class="form-group">
            <input type="email" class="form-control contact-input" placeholder="Ваш email*..." formControlName="email">
            <span class="error" *ngIf="orderHome.controls.email.status === 'INVALID' ">Заполните поле</span>
          </div>
          <div class="form-group">
            <input type="text" class="form-control contact-input" placeholder="Марка автомобиля*..." formControlName="car">
            <span class="error" *ngIf="orderHome.controls.car.status === 'INVALID' ">Заполните поле</span>
          </div>
          <div class="form-group">
            <select class="form-control contact-input" id="exampleFormControlSelect1" formControlName="servicePoints">
              <option selected>Выбрать услугу*...</option>
              <option>Стапельные работы</option>
              <option>Жестяные работы</option>
              <option>Арматурные работы</option>
              <option>Покраска втомобиля</option>
              <option>Локальная покраска</option>
              <option>Покраска мотоцикла</option>
              <option>Аброзивная полировка</option>
              <option>Легкая полировка блеск</option>
              <option>Защитная полировка</option>
              <option>Антикоррозийная обработка кузова</option>
              <option>Удаление вмятин без покраски</option>
            </select>
            <span class="error" *ngIf="orderHome.controls.servicePoints.status === 'INVALID' ">Заполните поле</span>
          </div>
          <button type="submit" class="btn btn-light mb-2 btn-contact">Отправить</button>
          <p class="orderSent" *ngIf="orderSent">Заявка отправлена!</p>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="clients" class="clients">
  <div class="title-wrap">
    <div class="section-title"><span class="text-yellow">отзывы</span> наших клиентов</div>
  </div>
  <div class="slider-client">

    <div class="slider">
      <input *ngFor="let item of getRandomComments; let idx = index" class="slider__nav" type="radio" name="slider" title="{{'slide' + idx}}" [checked]="idx === 1" />
      <div class="slider__inner">
        <div class="slider__contents" *ngFor="let item of getRandomComments">
          <div class="slider-item__header">
            <div class="name">{{item.userName || ''}}</div>
            <div class="date">{{item.date}} {{item.car || ''}}</div>
            <div class="stars">
              <ngb-rating class="rate-star" [(rate)]="item.rating" [max]="5" [readonly]="true"></ngb-rating>
            </div>
          </div>
          <div class="slider-item__description">
            <p class="description-content">{{item.comment || ''}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="partners">
  <div class="title-wrap">
    <div class="section-title">наши партнеры</div>
  </div>

  <div class="container-fluid">
    <div class="container text-center my-3">
      <div class="row mx-auto my-auto">
        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel" data-interval="3000">
          <div class="carousel-inner w-100" role="listbox">
            <div class="carousel-item active">
              <div class="col-3">
                <div class="image-wrap col-3">
                  <div class="image">
                    <img class="" src="../../assets/images/10.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="image-wrap col-3">

                <div class="image">
                  <img class="" src="../../assets/images/13.png">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="image-wrap col-3">
                <div class="image">
                  <img class="" src="../../assets/images/14.png">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="image-wrap col-3">
                <div class="image">
                  <img class="" src="../../assets/images/15.png">
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 col-xl-3 mb-5 mb-xl-0">
        <div class="footer-social">
          <div class="logo"></div>
          <p class="footer-social-description">Профессионлайны
            авто центр
            в Минске</p>
          <div class="social-links-footer">
            <a href="" class="icon"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="icon"><i class="fab fa-instagram"></i></a>
            <a href="" class="icon"><i class="fab fa-vk"></i></a>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-6 col-xl-3 mb-5 mb-xl-0">
        <div class="block-links">
          <div class="link-with-icon">
            <div class="link-with-icon_icon"></div>
            <a href="" class="block-links_link">Кузовной ремонт</a>
          </div>
          <div class="link-with-icon">
            <div class="link-with-icon_icon"></div>
            <a href="" class="block-links_link">Кузовной ремонт</a>
          </div>
          <div class="link-with-icon">
            <div class="link-with-icon_icon"></div>
            <a href="" class="block-links_link">Кузовной ремонт</a>
          </div>
          <div class="link-with-icon">
            <div class="link-with-icon_icon"></div>
            <a href="" class="block-links_link">Кузовной ремонт</a>
          </div>
          <div class="link-with-icon">
            <div class="link-with-icon_icon"></div>
            <a href="" class="block-links_link">Кузовной ремонт</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-6 col-xl-3 mb-5 mb-xl-0 justify-content-center">
        <div class="address-wrap">
          <div class="address">
            <p>г. Минск, ул. Дубовича, 11</p>
            <p>Время работы: ежедневно,
              9:00 - 20:00</p>
            <p>+ 375 29 319 08 61</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-3 mb-3 mb-xl-0">
        <div id="map"></div>
      </div>
    </div>
  </div>
</footer>
